<!-- Create Inventory Create New Inventory Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/navbar.css"
    
</head>
        <!--include header-->
        <%-include('include/_header')%>
        <!--/include header-->
<body>
        <!-- Side navigation bar start -->
        <%-include('include/_sidenav')%>
        <!-- Side navigation bar end -->
	
        <!-- Header Content -->
        <%-include('include/_navbar')%>
        <!-- /Header Content -->

        <!-- Nav Bar -->      
        <%-include('include/_nav')%>
        <!-- /Navbar -->

<!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> View All Inventorys</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Create New Inventory</h2>
                <span class="text-light">Create new Inventory Items Using This Below Form</span>
            </div>
            <!-- include form -->
            <%-include('include/_form')%>
            <!-- /include form -->        
        </div>
    </main>
<!-- End Main Site -->
            <!-- include footer -->
            <%-include('include/_footer')%>
            <!-- /include footer -->
<!-- end page content -->
	</div>
</body>
</html>