<!-- Create Inventory View table -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="javascript/nav.js"></script>
    <link rel="stylesheet" href="css/pdf.css" />
    <script src="../assets/js/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  
</head>
        <!--include header-->
        <%-include('include/_header')%>
        <!--/include header-->
<body>
        <!-- Side navigation bar start -->
        <%-include('include/_sidenav')%>
        <!-- Side navigation bar end -->    

        <!-- Header Content -->
        <%-include('include/_navbar')%>
        <!-- /Header Content -->

        <!-- Nav Bar -->      
        <%-include('include/_nav')%>
        <!-- /Navbar -->

        <!-- -------Create Searh Bar ------------- -->
        <%-include('include/_searchbar')%>
        <!-- -------End Searh Bar ------------- -->
        
  
 <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-inventory" class="border-shadow">
                    <span class="text-gradient1"> Create New Inventory <i class="fa-solid fa-warehouse"></i></span>
                </a>
                
            </div>
            <!-- form handling -->
            <form action="/home" method="POST">
                    <table class="table" id="myTable">
                        <thead class="thead-blue">
                            <tr>
                                <th>ID</th>
                                <th>Freazer ID</th>
                                <th>Category</th>
                                <th>Flavour</th>
                                <th>Quantity</th>
                                <th>Temparature(°C)</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- create Show  -->
                            <%-include('include/_show')%>
                            <!-- End show -->
                            <!-- Table body <tr> </tr> tika include eke _show.ejs ekata paste kara-->
                        </tbody>
                    </table>
                </div>
            </form>
        </main>
    <!-- =End Main Site -->
        <!-- include footer -->
        <%-include('include/_footer')%>
        <!-- /include footer -->
<!-- End page content -->
	</div>
</body>
</html>