<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/navbar.css">
    
</head>


<!--include header-->
<%-include('include/_header')%>
<!--/include header-->


<body>
    <!-- Side navigation bar start -->
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="sidenav hidescroll">
      <img class="sideNav-logo" src="images/logoWhite.png"/>
      <!-- <link rel="stylesheet" href="css/background.css"> -->
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <a href="http://localhost:3000/" class="w3-bar-item w3-button">Inventory Management</a>
  <a href="#" class="w3-bar-item w3-button">Supplier Management</a>
  <a href="#" class="w3-bar-item w3-button">Sales Management</a>
  <a href="#" class="w3-bar-item w3-button">Employee Management</a>
  <a href="#" class="w3-bar-item w3-button">Home</a>
</div>
         </div>
	</div>
	<!-- Side navigation bar end -->


	<!-- start content -->

    <br/>

<link rel="stylesheet" href="css/background.css">

<div class="background-image"></div>

<div class="main">

    <div style="color: rgb(22, 5, 5)">

      <h2></h2>

      <!-- Header Content -->
      <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Order Managemenet</a>
                </div>
            </div>
        </nav>

    </header>
<br>
      <!-- /Header Content -->
      <!-- Navbar -->
       <div class="topnav">
        <a class="#" href="#home">Home</a>
        <a href="http://localhost:3000/">Dashboard</a>
        <a href="http://localhost:3000/add-inventory">Inventory</a>
        <div class="search-container">
            <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#">Logout </a>
        <a href="#">Profile <i class="fa-solid fa-user"></i></a>  
      </div>

      <!-- /Navbar -->

    
 <!-- header and footer >>index.ejs file eken -->

<!-- include header -->
<%-include('include/_header')%>
<!-- /include header -->

<!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> View All Orders</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Order Details</h2>
                <span class="text-light">Use The Below Form to Update The Order Items</span>
            </div>

             <!-- form handling -->       
             <form action="/api/orders" method="POST" id="update_order">    
               <div class="new_user">
                    <div class="form-group">
                        <lable for="name" class="text-light">Order ID</lable>
                        <input type="hidden" name="id" value="<%= order._id %>">
                        <input type="text" name="name" value="<%= order.name %>" placeholder="Enter The Order Id" readonly>
                    </div>

                    <div class="form-group">
                        <lable for="category" class="text-light">Category</lable>
                        <input type="text" name="category" value="<%= order.category %>" placeholder="Enter The Category" readonly>
                        <select id="select" name="category" required>
                           <option select disable hidden>Select Category Type</option>
                            <option value="Cup">Cup</option>
                            <option value="Packet">Packet</option>
                            <option value="Bottle">Bottle</option>
                            <option value="Stick">Stick</option>
                            <option value="Cone">Cone</option>
                            <option value="Tub">Tub</option>
                            <option value="Sandwich">Sandwich</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <lable for="flavour" class="text-light">Flavour</lable>
                        <input type="text" name="flavour" value="<%= order.flavour %>" placeholder="Enter The Flavour Type" readonly>
                        <select id="select" name="flavour" required>
                            <option select disable hidden>Select Flavour Type</option>
                            <option value="Chocolate">Chocolate</option>
                            <option value="Vanila">Vanila</option>
                            <option value="Strawberry">Strawberry</option>
                            <option value="Coffee">Coffee</option>
                            <option value="Mint">Mint</option>
                            <option value="Mango">Mango</option>
                            <option value="Banana">Banana</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <lable for="qty" class="text-light">Quantity</lable>
                        <input type="number" max="" min="1" name="qty" value="<%= order.qty %>" placeholder="Enter The Quantity Value" >
                    </div>

                    <div class="form-group">
                        <lable for="temp" class="text-light">Order Manager</lable>
                        <input type="text" name="temp" value="<%= order.cus %>" placeholder="Enter The Temparature Value" >
                    </div>

                    <div class="form-group">
                        <lable for="gender" class="text-light">Status</lable>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="status" value="Active">
                            <label for="radio-2" class="radio-lable">Active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="status" value="Inactive">
                            <label for="radio-3" class="radio-lable">Inactive</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Update Order Details</button>
                    </div>
                    <!-- <div class="form-group">
                        <input type="submit" value="Submit">
                    </div> -->
                </div>
            </form>          
        
<!-- mehi form tag eka wenama partial file ekakata pase kara -->
<!-- form tag >> include/_form.ejs -->
        </div>
    </main>

    <!-- /Main Site -->

<!-- include footer -->
<%-include('include/_footer')%>
<!-- /include footer -->


	<!-- end page content -->

	</div>
</body>
</html>