<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/form.css">
</head>


<!--include header-->
<%-include('include/_header')%>
<!--/include header-->


<body>
    <!-- Side navigation bar start -->
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="sidenav hidescroll">
      <img class="sideNav-logo" src="image/logoWhite.png"/>
      <link rel="stylesheet" href="css/background.css">
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <a href="#" class="w3-bar-item w3-button">Inventory Management</a>
  <a href="#" class="w3-bar-item w3-button">Supplier Management</a>
  <a href="/" class="w3-bar-item w3-button">Sales Management</a>
  <a href="#" class="w3-bar-item w3-button">Employee Management</a>
  <a href="#" class="w3-bar-item w3-button">Home</a>
</div>
         </div>
	</div>
	<!-- Side navigation bar end -->

	<!-- start content -->


<br/>
<link rel="stylesheet" href="css/background.css">
<div class="background-image"></div>
<div class="main">
    <div style="color: Red">
      <h2></h2>
          <!--Header-->
    <header id="header">
      <nav>
       <div class="container">
           <div class="text-center">
               <a href="/" class="nav-brand text-dark">Sales Management</a>
           </div>
       </div>
      </nav>
    

  </header>
<!--/Header-->


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-angle-left"></i> </a>
            </div>

        </div>

        <div class="form-title text-center">

            <h2 class="text-dark">Update Sales record</h2>
            <span class="text-light">Use the below form to update sales recode</span>

        </div>
        <form method="POST" id="update_sales">
            <div class="new_sales">
        
                <div class="form-group">
                    <lable for="invoice" class="text-light">Invoice No</lable>
                    <input type="hidden" name="id" value="<%= sales._id%>">
                    <input type="tel" name="invoiceno" value="<%= sales.invoiceno%> "  required>
                </div>
        
                <div class="drp">

                    <label for="product" class="text-light"> Product Catagory :</label>
        
                    <select  id="productcatagory" name="productcatagory"  value="<%= sales.productcatagory%> " required >
        
                        <option value=" <%= sales.productcatagory%> " > <%= sales.productcatagory%> </option>
        
                        <option value="Vanilla">Vanilla</option>
        
                        <option value="Chocolate">Chocolate</option>
        
                        <option value="Strawberry">Strawberry</option>
        
                        <option value="Coffee">Cofee</option>
        
                        <option value="Chocolate Chip">Chocolate Chip</option>
        
                        <option value="Cookies&Cream">Cookies & Cream</option>
        
                        <option value="Pani mix">pani mix</option>
        
                    </select>
        
                </div>
        
        
                <div class="form-group">
                    <lable for="Date" class="text-light">Date</lable>
                    <input type="date" name="date" value="<%= sales.date%>" required>
                </div>
        
                <div class="form-group">
                    <lable for="Bname" class="text-light">Buyer Name</lable>
                    <input type="text" name="buyername" value="<%= sales.buyername%>"  required>
                </div>
        
                <div class="form-group">
                    <lable for="Bcontact" class="text-light">Buyer contact</lable>
                    <input type="tel" name="buyercontact" value="<%= sales.buyercontact%>"   required>
                </div>
        
                <div class="form-group">
                    <lable for="Quantity" class="text-light">Quantity</lable>
                    <input type="number" name="quantity" value="<%= sales.quantity%>"  required>
                </div>
        
                <div class="form-group">
                    <lable for="RPQuantity" class="text-light">Rate per one quantity</lable>
                    <input type="number" name="rateperonequantity" value="<%= sales.rateperonequantity%>" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Submit</button>
                </div>
              
            </div>    
        </form>

    </div>
</main>



<%- include('include/_footer') %>