<% for(var i=0; i<orders.length; i++){ %>

<tr>
    <td><%= i+1 %></td>
    <td><%= orders[i].name %></td>
    <td><%= orders[i].category %></td>
    <td><%= orders[i].flavour %></td>
    <td><%= orders[i].qty %></td>
    <td><%= orders[i].cus %></td>
    <td><%= orders[i].status %></td>
    <td>
        <a href="/update-order?id=<%= orders[i]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i> Update</span>
        </a>
        <a class="btn border-shadow delete" data-id="<%= orders[i]._id %>">
            <span class="text-gradient"><i class="fa-solid fa-trash-can"></i> Delete</span>
        </a>
    </td>
</tr>

<% } %>